html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #eee8d5;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}

a.button:link a.button:visited {
    appearance: button;

    text-decoration: none;
    color: initial;
}

.ck-button {
    margin:0.1em;
    border-radius:0.3em;
    border:0.1em solid #D0D0D0;
    overflow:auto;
    display:inline-block;
}

.ck-button span {
    text-align:center;
    padding:0.4em 0.9em;
    display:block;
    background-color: #839496;
    color:#EFEFEF;
}

.ck-button span.green {
    background-color: #5f1366;
}

.ck-button label input {
    position:absolute;
    top:-500px;
}

.ck-button input:checked + span {
    background-color: #136643;
}

figure.nomargin {
    margin-left: 0;
    margin-right: 0;
}
