{% extends "base.html" %}
{% block content %}
  <div class="content">
    <p>This site is Joseph's photo gallery.</p>
    <p>I coded this application in Clojure, my
      <a href="https://codeberg.org/xylon/xyloobservations">code is on Codeberg.</a></p>
    <img src="/img/warning_clojure.png"></img>
  </div>
{% endblock %}
