<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joseph's Photo Gallery</title>

    <!-- styles -->
    {% style """/assets/bulma/css/bulma.min.css" %}
    {% style """/assets/material-icons/css/material-icons.min.css" %}

    {% style """/css/screen_1.css" %}
    {% style """/css/bulma-tooltip.min.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar is-info">
          <div class="container">
              <div class="navbar-brand">
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="nav-menu" class="navbar-menu">
                  <div class="navbar-start">
                      <a href="/" class="navbar-item{% ifequal page "gallery.html" %} is-active  is-italic{%endifequal%}">Gallery</a>
                      <a href="/advanced" class="navbar-item{% ifequal page "advanced.html" %} is-active  is-italic{%endifequal%}">Advanced</a>
                      <a href="/random?num=10" class="navbar-item{% ifequal page "random.html" %} is-active  is-italic{%endifequal%}">Random</a>
                      {% if loggedin %}
                      <a href="/upload_image" class="navbar-item{% ifequal page "upload_image.html" %} is-active  is-italic{%endifequal%}">Upload Image</a>
                      <a href="/tag_manager" class="navbar-item{% ifequal page "tag_manager.html" %} is-active  is-italic{%endifequal%}">Tag Manager</a>
                      <a href="/orphan_images" class="navbar-item{% ifequal page "orphan_images.html" %} is-active  is-italic{%endifequal%}">Orphan Images</a>
                      <a href="/logout?redirect={{fullpath}}" class="navbar-item">Logout</a>
                      {% endif %}
                  </div>
                  <div class="navbar-end">
                      <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-active  is-italic{%endifequal%}">About</a>
                  </div>
              </div>
          </div>
      </nav>

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
