{% extends "base.html" %}
{% block content %}
  <div class="content">
    <form id="ajaxform" method="POST" enctype="multipart/form-data" action="/upload_image_ajax">
      {% csrf-field %}
      <fieldset>
        <legend><h1>Upload an image</h1></legend>
        <input type="file" name="filename" id="newimage" accept="image/*"><br/>
        <textarea name="caption" id="caption"></textarea><br/>
        {% for tag in all_tags %}
        <input type="checkbox" id="tag_{{ tag.tag_id }}" name="tags" value="{{ tag.tag_id }}">
        <label for="tag_{{tag.tag_id}}">{{tag.tag_name}}</label><br/>
        {% endfor %}
        <!-- <button id="uploadButton" type="button">Upload</button> -->
        <input type="submit" value="Upload" id="ajaxsubmit">
      </fieldset>
  </form>
  <p id="message" style="font-family: monospace; color: {% if msgtype = "error" %}red{% else %}green{% endif %};">
  </p>
</div>
  <input id="progresstype" type="hidden" value="upload">
{% endblock %}

{% block page-scripts %}
  {% script "/js/progress.js" %}
{% endblock %}
